* {
    padding: 0;
    margin: 0;
}
input {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 40px;
}
button {
    margin-top: 5px;
    margin-left: 5px;
    height: 40px;
    width: 40px;
}